.loader{
text-align: center;
margin: 1em auto;
width: 100%;
display: inline-block
}

.loader h4{
width: auto;
display: inline
}

.body{
width: 90%;
margin: auto;
}


.footer{
height: 3em;
background-color: #673AB7; /* Material design color recommended: Deep Purple*/
text-align: center;
vertical-align: middle;
color: white;
padding-top: 1em;
font-weight: 400;
font-style: italic;
}


.add{
  text-align: center;
}
