.product{
border-bottom-style: dashed;
border-bottom-color: #EDE7F6;
min-height: 4em;
vertical-align: middle;
text-align: center;
}

.product{
border-bottom-style: dashed;
border-bottom-color: #EDE7F6;
min-height: 4em;
vertical-align: middle;
text-align: center;
}

.product :global .cell{
margin: auto;
}
